[submodule ".addon-sdk"]
	path = .addon-sdk
	url = https://github.com/mozilla/addon-sdk.git
	ignore = untracked
[submodule "packages/browser-search-engine"]
	path = packages/browser-search-engine
	url = git@github.com:clarkbw/browser-search-engine.git
[submodule "packages/geocode"]
	path = packages/geocode
	url = git@github.com:clarkbw/fx-sdk-geocode.git
[submodule "packages/geolocation"]
	path = packages/geolocation
	url = git@github.com:clarkbw/fx-sdk-geolocation.git
[submodule "packages/indexed-db-storage"]
	path = packages/indexed-db-storage
	url = git@github.com:clarkbw/indexed-db-storage.git
