<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {

      var jsonData = $.ajax({
          url: "/data",
          dataType:"json",
          async: false
          }).responseText;

      var engines = JSON.parse(jsonData).engines;
      console.log(engines);
      var engineData = [];
      for (var e in engines) {
        engineData.push([engines[e].name, parseInt(engines[e].score)]);
      }
      console.log(engineData);
      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Search Engine');
      data.addColumn('number', 'Usage');
      console.log(engineData.sort(function (a, b) { return a[1] < b[1];  }).slice(0,4))
      data.addRows(engineData.sort(function (a, b) { return a[1] < b[1];  }).slice(0,4));

      // Set chart options
      var options = {'title':'Top 4 Search Engines',
                     'is3D' : true,
                     'width':480,
                     'height':320
                     };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('visualization'));
      chart.draw(data, options);
      
    }

  </script>

</head>
<body>
    <div id="chart_div"></div>
    <div id="visualization" style="width: 900px; height: 500px;"></div>
</body>
</html>
