<!DOCTYPE html>
<html>
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.  -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <title>Awesome Search</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">

</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">Awesome Search</span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="">
          <h4>Searches you're using</h4>
        </div>
        <ul id="defaults" class="engines unstyled span6"></ul>
        <div style="text-align: center;"><span class="label label-info">Reorder these, just drag and drop them</span></div>
      </div>
      <div class="span6">
        <div class="options well">
          <label class="checkbox">
            <input id="stats" checked="checked" type="checkbox"> Participate in anonymous community statistics
          </label>
          <label class="checkbox">
            <input id="collect" checked="checked" type="checkbox"> Automatically collect new search engines
          </label>
        </div>
        <div>
          <h5>More Search Sites</h5>
          <small>Here's a list of other search engines you might find useful.</small>
          <small>Just drag them over to the left if you want to use them.</small>
        </div>
        <ul id="others" class="engines unstyled span6"></ul>
      </div>
    </div>
  </div>

  <div id="welcome" style="opacity: 0;" class="container" disabled="disabled">
    <h1>Welcome to Awesome Search!</h1>

          <p class="lead">Let's get you setup and using the best search engines possible.  Follow these short instructions and you'll be all set to go!</p>

          <div>
            <h3>First <button class="btn btn-primary btn-large install-yelp">Add Yelp</button></h3>
            <p>Click the blue button above to get the Yelp search engine installed.  Yelp provides local results for all your searches so if you're looking for restaurants, shops, or parks you'll get quick access to all the address and phone number information you need along with Yelp reviews.</p>
            <h3>Then pat yourself on the back</h3>
            <p>By default you're participating with our anonymous statistics collection.  Your participation helps improve this add-on everyday.  The add-on is not collecting personally identifying information but is collecting data about the search engines used and seen.</p>
            <p>If you don't wish to participate you can turn off participation in the Awesome Search add-on preferences.</p>
            <h3>Finally <button class="btn btn-large close-tab">Close this tab</button></h3>
            <p>You're all done. There's nothing else to do but get searching.</p>
          </div>

  </div>

  <footer class="footer">
    <div class="container">
      <p>The <a href="https://addons.mozilla.org/en-US/firefox/addon/awesome-search/">Awesome Search</a> add-on was designed and built by <a href="http://clarkbw.net/">Bryan Clark</a>.  Thank you for using it.</p>
      <p><a href="https://github.com/clarkbw/searchspot/blob/master/docs/PRIVACY.txt">Privacy Policy</a></p>
    </div>
  </footer>

  <script type="text/template" id="geo-permission-template">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Geolocation Permission</h3>
      <small class="muted">This search engine requires your location to provide results</small>
    </div>
    <div class="modal-body">
        <h4 class="name"><img class='icon' src="<%= get("icon") %>"/> <%= get("name") %></h4>
        <div>
          <span class="url"><%= trimUrl() %></span>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn cancel">Cancel</a>
      <a href="#" data-dismiss="modal" class="btn btn-primary add">Add</a>
    </div>
  </script>

  <script type="text/template" id="engine-template">
      <div class="engine-wrapper">
        <img class='icon pull-left' src="<%= get("icon") %>"/>
        <span style="font-size:150%;line-height:200%;" class='muted pull-right'>&#8801;</span>
        <div class="name"><%= get("name") %></div>
        <div class="">
          <span class="url"><%= trimUrl() %></span>
          <span class="attributes">
          <% if (isGeo()) { %>
            <img title="Location base results (geolocation)" src="img/Geolocation-16.png" />
          <% } %>
          <% if (isHttps()) { %>
            <img title="Secure Connection (https)" src="img/identity-icons-https.png" />
          <% } %>
          <% if (hasSuggestions()) { %>
            <img title="Search Suggestions" src="img/orion-task.png" />
          <% } %>
          </span>
        </div>
      </div>
  </script>

<!--
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/underscore.min.js"></script>
  <script type="text/javascript" src="js/backbone.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="js/bootstrap-tooltip.js"></script>

  <script type="text/javascript" src="js/index.js"></script>
-->

</body>
</html>
