@font-face {
  font-family: "OpenSans";
  src: url(OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Reg";
  src: url(OpenSans-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
}

body {
  font-family: "OpenSans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 14px;
  color: #222;
}

h1, h2, h3, h4 {
  font-family: "OpenSans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: rgb(175,50,50);
  font-weight: normal;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
  text-align: center;
}
