.engines {
  cursor: move;
}
#defaults, #others {
  margin: 20px 0;
}
.engine-view {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin: 5px auto;
  background-color: #fff;
}
.engine-view.ui-sortable-helper {
  box-shadow: 4px 4px 8px #aaa;
}
#defaults .btn.add {
  display: none;
}
#others .btn.remove {
  display: none;
}
.btn {
  font-weight: bold;
  cursor: pointer;
}
img {
  vertical-align: middle;
}
.icon {
  margin: 2px 5px;
  height: 16px;
  min-width: 16px;
}
.name {
  margin: 5px;
  color: #333;
}
.url {
  margin: 5px 7px;
  color: #666;
}
.attributes {
  cursor: pointer;
}
.options {
  margin-top: 65px;
  position: relative;
  padding-top: 40px;
}
.options:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #616468;
    content: "Options";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.footer {
  padding: 70px 0px;
  margin-top: 70px;
  border-top: 1px solid rgb(229, 229, 229);
  background-color: rgb(245, 245, 245);
  text-align: center;
}
